[Desktop Entry]
Encoding=UTF-8
Name[es_ES]=MX Tweak
Name[it]=MX Rifiniture
Name[lt]=MX patobulinimai
Name[uk]=MX Tweak
Name=MX Tweak
Comment[es_ES]=Varios ajustes útiles
Comment[it]=Utili rifiniture di vario genere
Comment[lt]=Įvairūs naudingi patobulinimai
Comment=Assorted useful tweaks
Exec=mx-tweak
Terminal=false
Type=Application
Icon=mx-tweak
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;MX-Setup;
Keywords[es_ES]=Escritorio
Keywords[it]=Desktop
Keywords[lt]=Darbalaukis
Keywords[uk]=Стільниця
Keywords=Desktop
NoDisplay=false

