[Desktop Entry]
Encoding=UTF-8
Name=MX Tweak Systray
Name[am]=MX ማሻሻያ Systray
Name[ar]=MX Tweak Systray
Name[bg]=MX Tweak Systray
Name[bn]=MX Tweak Systray
Name[ca]=MX Tweak Systray
Name[cs]=MX Vyladění Systray
Name[da]=MX Finjustering Systray
Name[de]=MX Tweak Systray
Name[el]=MX Tweak Systray
Name[es]=MX Tweak Systray
Name[et]=MX Tweak Systray
Name[eu]=MX Tweak Systray
Name[fa]=MX Tweak Systray
Name[fil_PH]=MX Tweak Systray
Name[fi]=MX Hienosäätö Systray
Name[fr]=MX Ajustements Systray
Name[he_IL]=MX Tweak Systray
Name[hi]=MX Tweak Systray
Name[hr]=MX Tweak Systray
Name[hu]=MX finomhangoló Systray
Name[id]=MX Tweak Systray
Name[is]=MX Tweak Systray
Name[it]=MX Rifiniture Systray
Name[ja_JP]=MX Tweak Systray
Name[ja]=MX Tweak Systray
Name[kk]=MX Tweak Systray
Name[ko]=MX Tweak Systray
Name[lt]=MX patobulinimai Systray
Name[mk]=MX Tweak Systray
Name[mr]=MX Tweak Systray
Name[nb]=MX Tweak Systray
Name[nl]=MX Fijninstellingen Systray
Name[pl]=MX Ulepszenia Systray
Name[pt_BR]=MX Ajustes Rápidos Systray
Name[pt]=MX Ajustes Rápidos Systray
Name[ro]=MX Tweak Systray
Name[ru]=MX Tweak Systray
Name[sk]=MX Tweak Systray
Name[sl]=MX Prilagoditve Systray
Name[sq]=MX Tweak Systray
Name[sr]=MX Tweak Systray
Name[sv]=MX Tweak Systray
Name[tr]=MX Tweak Systray
Name[uk]=MX Tweak Systray
Name[vi]=MX Tweak Systray
Name[zh_CN]=MX Tweak Systray
Name[zh_TW]=MX 調校 Systray
Comment=brightness systray application
Comment[am]=brightness systray application
Comment[ar]=brightness systray application
Comment[bg]=brightness systray application
Comment[bn]=brightness systray application
Comment[ca]=Aplicació de sistema de brillantor
Comment[cs]=brightness systray application
Comment[da]=brightness systray application
Comment[de]=Helligkeit Systray-Anwendung
Comment[el]=εφαρμογή συστοιχίας φωτεινότητας
Comment[es]=aplicación de bandeja de brillo
Comment[et]=brightness systray application
Comment[eu]=brightness systray application
Comment[fa]=brightness systray application
Comment[fil_PH]=brightness systray application
Comment[fi]=brightness systray application
Comment[fr]=application systray de luminosité
Comment[he_IL]=brightness systray application
Comment[hi]=brightness systray application
Comment[hr]=brightness systray application
Comment[hu]=brightness systray application
Comment[id]=brightness systray application
Comment[is]=brightness systray application
Comment[it]=applicazione systray di luminosità
Comment[ja_JP]=brightness systray application
Comment[ja]=brightness systray application
Comment[kk]=brightness systray application
Comment[ko]=brightness systray application
Comment[lt]=brightness systray application
Comment[mk]=brightness systray application
Comment[mr]=brightness systray application
Comment[nb]=brightness systray application
Comment[nl]=helderheid systray applicatie
Comment[pl]=brightness systray application
Comment[pt_BR]=aplicação systray brilho
Comment[pt]=aplicação systray brilho
Comment[ro]=aplicare sistem de luminozitate
Comment[ru]=brightness systray application
Comment[sk]=brightness systray application
Comment[sl]=brightness systray application
Comment[sq]=brightness systray application
Comment[sr]=brightness systray application
Comment[sv]=brightness systray application
Comment[tr]=brightness systray application
Comment[uk]=brightness systray application
Comment[vi]=brightness systray application
Comment[zh_CN]=brightness systray application
Comment[zh_TW]=brightness systray application
Exec=mx-tweak --tray
Terminal=false
Type=Application
Icon=display-brightness
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;MX-Setup;
Keywords=Desktop
NoDisplay=false

