[Desktop Entry]
Encoding=UTF-8
Name=MX Tweak
Name[am]=MX ማሻሻያ
Name[ar]=MX Tweak
Name[bg]=MX Tweak
Name[bn]=MX Tweak
Name[ca]=MX Tweak
Name[cs]=MX Vyladění
Name[da]=MX Finjustering
Name[de]=MX Tweak
Name[el]=MX Tweak
Name[es]=MX Tweak
Name[et]=MX Tweak
Name[eu]=MX Tweak
Name[fa]=MX Tweak
Name[fil_PH]=MX Tweak
Name[fi]=MX Hienosäätö
Name[fr]=MX Ajustements
Name[he_IL]=MX Tweak
Name[hi]=MX Tweak
Name[hr]=MX Tweak
Name[hu]=MX finomhangoló
Name[id]=MX Tweak
Name[is]=MX Tweak
Name[it]=MX Rifiniture
Name[ja]=MX Tweak
Name[kk]=MX Tweak
Name[ko]=MX Tweak
Name[lt]=MX patobulinimai
Name[mk]=MX Tweak
Name[mr]=MX Tweak
Name[nb]=MX Tweak
Name[nl]=MX Fijninstellingen
Name[pl]=MX Ulepszenia
Name[pt_BR]=MX Ajustes Rápidos
Name[pt]=MX Ajustes Rápidos
Name[ro]=MX Tweak
Name[ru]=MX Tweak
Name[sk]=MX Tweak
Name[sl]=MX Prilagoditve
Name[sq]=MX Tweak
Name[sr]=MX Tweak
Name[sv]=MX Tweak
Name[tr]=MX Tweak
Name[uk]=MX Tweak
Name[vi]=MX Tweak
Name[zh_CN]=MX Tweak
Name[zh_TW]=MX 調校
Comment=Assorted useful tweaks
Comment[am]=የ ተለየ ጠቃሚ ማሰናጃ
Comment[ar]=Assorted useful tweaks
Comment[bg]=Assorted useful tweaks
Comment[bn]=Assorted useful tweaks
Comment[ca]=Diversos ajustos útils
Comment[cs]=Výběr užitečných vyladění systému
Comment[da]=Diverse nyttige finjusteringer
Comment[de]=Eine Zusammenstellung nützlicher Einstellungen
Comment[el]=Διάφορα χρήσιμα τσιμπήματα
Comment[es]=Varios ajustes útiles
Comment[et]=Assorted useful tweaks
Comment[eu]=Assorted useful tweaks
Comment[fa]=Assorted useful tweaks
Comment[fil_PH]=Assorted useful tweaks
Comment[fi]=Assorted useful tweaks
Comment[fr]=Divers ajustements bien pratiques
Comment[he_IL]=Assorted useful tweaks
Comment[hi]=Assorted useful tweaks
Comment[hr]=Assorted useful tweaks
Comment[hu]=Válogatott hasznos trükkök
Comment[id]=Assorted useful tweaks
Comment[is]=Assorted useful tweaks
Comment[it]=Utili rifiniture di vario genere
Comment[ja]=Assorted useful tweaks
Comment[kk]=Assorted useful tweaks
Comment[ko]=Assorted useful tweaks
Comment[lt]=Įvairūs naudingi patobulinimai
Comment[mk]=Assorted useful tweaks
Comment[mr]=Assorted useful tweaks
Comment[nb]=Assorted useful tweaks
Comment[nl]=Verschillende handige fijninstellingen
Comment[pl]=Różne użyteczne poprawki
Comment[pt_BR]=Alteração fácil e prática de vários elementos [mx-tweak]
Comment[pt]=Alteração fácil e prática de vários elementos [mx-tweak]
Comment[ro]=Assorted useful tweaks
Comment[ru]=Различные полезные изменения (твики)
Comment[sk]=Výber užitočných vylepšení vzhľadu
Comment[sl]=Izbor uporabnih prilagoditev
Comment[sq]=Assorted useful tweaks
Comment[sr]=Assorted useful tweaks
Comment[sv]=Blandade användbara justeringar
Comment[tr]=Assorted useful tweaks
Comment[uk]=Assorted useful tweaks
Comment[vi]=Assorted useful tweaks
Comment[zh_CN]=Assorted useful tweaks
Comment[zh_TW]=多項有用的調校工具
Exec=mx-tweak
Terminal=false
Type=Application
Icon=mx-tweak
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;MX-Setup;
Keywords=Desktop
NoDisplay=false
OnlyShowIn=XFCE;

