[Desktop Entry]
Encoding=UTF-8
Name[am]=MX ማሻሻያ
Name[ca]=MX Tweak
Name[cs]=MX Vyladění
Name[da]=MX Finjustering
Name[de]=MX Tweak
Name[el]=MX Ρυθμίσεις
Name[es]=MX Tweak
Name[es_ES]=MX Tweak
Name[fi]=MX Tweak
Name[fr]=MX Ajustements
Name[fr_BE]=MX Ajustements - Tweak
Name[gl_ES]=MX axustes rápidos
Name[he_IL]=התאמות MX
Name[hi]=एमएक्स-अनुकूलन
Name[hr]=MX ugađanje
Name[hu]=MX finomhangoló
Name[it]=MX Rifiniture
Name[ja]=MX Tweak
Name[lt]=MX patobulinimai
Name[nb]=MX Tweak
Name[nl]=MX Fijninstellingen
Name[nl_BE]=MX Tweak
Name[pl]=MX Ulepszenia
Name[pt]=MX Ajustes Rápidos
Name[pt_BR]=Ajustes Rápidos do MX
Name[ru]=MX Tweak
Name[ru_RU]=MX Tweak
Name[sk]=MX Tweak
Name[sl]=MX Prilagoditve
Name[sq]=Përimtim MX-i
Name[sv]=MX Tweak
Name[th]=MX Tweak
Name[tr]=MX İnce ayar
Name[uk]=MX Tweak
Name[zh_CN]=MX Tweak
Name[zh_TW]=MX 調校
Name=MX Tweak
Comment[am]=የ ተለየ ጠቃሚ ማሰናጃ
Comment[ca]=Diversos ajustos útils
Comment[cs]=Výběr užitečných vyladění systému
Comment[da]=Diverse nyttige finjusteringer
Comment[de]=Eine Zusammenstellung nützlicher Einstellungen
Comment[el]=Χρήσιμες βελτιώσεις
Comment[es]=Varios ajustes útiles
Comment[es_ES]=Varios ajustes útiles
Comment[fi]=Valikoima hyödyllisiä säätöjä
Comment[fr]=Divers ajustements bien pratiques
Comment[fr_BE]=Divers ajustements bien pratiques
Comment[hu]=Válogatott hasznos trükkök
Comment[it]=Utili rifiniture di vario genere
Comment[ja]=色々と便利な tweak があります
Comment[lt]=Įvairūs naudingi patobulinimai
Comment[nb]=Diverse nyttige finjusteringer
Comment[nl]=Verschillende handige fijninstellingen
Comment[pl]=Różne użyteczne poprawki
Comment[pt]=Alteração fácil e prática de vários elementos [mx-tweak]
Comment[pt_BR]=Permite fazer alterações de vários elementos do MX Linux com o MX Tweak
Comment[ru]=Различные полезные изменения (твики)
Comment[ru_RU]=Различные полезные настройки
Comment[sk]=Výber užitočných vylepšení vzhľadu
Comment[sl]=Izbor uporabnih prilagoditev
Comment[sq]=Përimtime të ndryshme të dobishme
Comment[sv]=Blandade användbara justeringar
Comment[tr]=Çeşitli yararlı ince ayarlar
Comment[zh_TW]=多項有用的調校工具
Comment=Assorted useful tweaks
Exec=mx-tweak
Terminal=false
Type=Application
Icon=mx-tweak
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;MX-Setup;
Keywords[am]=ዴስክቶፕ
Keywords[ar]=سطح مكتب
Keywords[bg]=Работен плот
Keywords[ca]=Escriptori
Keywords[cs]=Pracovní plocha
Keywords[da]=Skrivebord
Keywords[de]=Arbeitsoberfläche
Keywords[el]=Επιφάνεια εργασίας
Keywords[es]=Escritorio
Keywords[es_ES]=Escritorio
Keywords[et]=Töölaud
Keywords[eu]=Mahaigaina
Keywords[fa]=میزکار 
Keywords[fi]=Työpöytä
Keywords[fil_PH]=Desktop
Keywords[fr]=Environnement de bureau
Keywords[fr_BE]=Environnement de bureau
Keywords[gl_ES]=Escritorio
Keywords[he_IL]=שולחן עבודה
Keywords[hi]=डेस्कटॉप
Keywords[hr]=Radna površina
Keywords[hu]=Asztal
Keywords[is]=Skjáborð
Keywords[it]=Desktop
Keywords[ja]=デスクトップ
Keywords[kk]=Жұмыс үстелі
Keywords[ko]=바탕화면
Keywords[lt]=Darbalaukis
Keywords[mk]=Работна површина
Keywords[mr]=डेस्कटॉप
Keywords[nb]=Skrivebord
Keywords[nl]=Desktop
Keywords[nl_BE]=Desktop
Keywords[pl]=Pulpit
Keywords[pt]=Ambiente
Keywords[pt_BR]=Área de Trabalho
Keywords[ro]=Birou
Keywords[ru]=Рабочий стол
Keywords[ru_RU]=Рабочий стол
Keywords[sk]=Pracovná plocha
Keywords[sl]=Namizje
Keywords[sq]=Desktop
Keywords[sr]=Радна Површ
Keywords[sv]=Skrivbord
Keywords[th]=เดสก์ท็อป
Keywords[tr]=Masaüstü
Keywords[uk]=Стільниця
Keywords[zh_CN]=桌面
Keywords[zh_TW]=桌面
Keywords=Desktop
NoDisplay=false

