[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name[ca]=mx-tweak brillantor systray
Name[cs]=mx-tweak systémová lišta jasu
Name[de]=Helligkeitsregler in der Systemleiste
Name[el]=Εικονίδιο εφαρμογής στο σύστημα για τις Ρυθμίσεις του MX
Name[es]=mx-tweak bandeja de brillo
Name[es_ES]=mx-tweak bandeja de brillo
Name[fr]=mx-ajustement de la luminosité dans la barre d’état système / systray
Name[fr_BE]=mx-ajustement de la luminosité dans la barre d’état système / systray
Name[hu]=mx-tweak fényerősség tálcaalkalmazás
Name[it]=luminosità del vassoio di sistema di mx-rifiniture
Name[ja]=mx-tweak 明るさ調節トレイ
Name[nb]=mx-tweak lysstyrke i systemkurven
Name[pl]=mx-tweak brightness systray
Name[pt]=Regulação de brilho na bandeja
Name[pt_BR]=Controle do Brilho da Tela na Bandeja do Sistema do Ajustes Rápidos do MX
Name[ru]=mx-tweak яркость в трее
Name[sl]=mx-tweak osvetlitev v sistemski pasici
Name[sv]=mx-tweak ljusstyrka för systembricka
Name[tr]=mx-tweak parlaklık sistem tepsisi
Name=mx-tweak brightness systray
Comment[ca]=engega l'aplicació mx-tweak brillantor systray
Comment[cs]=start aplikace mx-tweak lišty jasu
Comment[de]=Helligkeitsregler in der Systemleiste starten
Comment[el]=Εκκίνηση της εφαρμογής εικονίδιο του MX Ρυθμίσεις
Comment[es]=iniciar la aplicación mx-tweak bandeja de brillo 
Comment[es_ES]=iniciar la aplicación mx-tweak bandeja de brillo 
Comment[fr]=Lance l’application mx-ajustement de la luminosité dans la barre d’état système / systray
Comment[fr_BE]=Lance l’application mx-ajustement de la luminosité dans la barre d’état système / systray
Comment[hu]=elindítja az mx-tweak fényerősség tálcaalkalmazást
Comment[it]=avvia l'app luminosità del vassoio di sistema di mx-rifiniture
Comment[ja]=明るさの調節を行うトレイアプレットを起動します
Comment[nb]=starter mx-tweak-programmet lysstyrke i systemkurven
Comment[pl]=uruchamia regulację jasności w zasobniku systemowym
Comment[pt]=inicia a aplicação da área de notificação do sistema do controlo de brilho mx-ajustes
Comment[pt_BR]=Inicializador do aplicativo da bandeja do sistema de controle do brilho com o MX Tweak
Comment[ru]=запускает приложение mx-tweak для управления яркостью через трей
Comment[sl]=Zažene mx-tweak systray aplikacijo za osvetlitev
Comment[sv]=startar mx-tweak systembrickeapp för ljusstyrka
Comment[tr]=mx-tweak parlaklık sistem tepsisi uygulamasını başlatır
Comment=starts mx-tweak brightness systray app
Exec=mx-tweak --tray
StartupNotify=false
Terminal=false
Hidden=true

