[Desktop Entry]
Encoding=UTF-8
Name[am]=պայծառություն Systray
Name[ca]=Brillantor Systray
Name[cs]=Systémová lišta jasu
Name[da]=Lysstyrke Systray
Name[de]=Helligkeitsregler Systemleiste
Name[el]=Εικονίδιο στο σύστημα
Name[es]=Bandeja de brillo
Name[es_ES]=Bandeja de brillo
Name[fi]=Kirkkaus
Name[fr]=Luminosité dans la barre d’état système / systray
Name[fr_BE]=Luminosité dans la barre d’état système / systray
Name[gl_ES]=Brillo Systray
Name[he_IL]=בהירות Systray
Name[hi]=चमक Systray
Name[hr]=Svjetlost Systray
Name[hu]=Fényerősség tálcaikon
Name[it]=Luminosità Systray
Name[ja]=明るさ調節トレイアイコン
Name[lt]=Ryškumas Systray
Name[nb]=Lysstyrke i systemkurven
Name[nl]=Helderheid Systray
Name[pl]=Jasność Systray
Name[pt]=Brilho Systray
Name[pt_BR]=Controle do Brilho na Bandeja do Sistema
Name[ro]=Strălucire Systray
Name[ru]=Яркость Systray
Name[ru_RU]=Яркость Systray
Name[sk]=Jas Systray
Name[sl]=Osvetlitev v sistemski pasici
Name[sv]=Ljusstyrka Systembricka
Name[tr]=Parlaklık Systray
Name[uk]=Яскравість Systray
Name[zh_CN]=亮度 Systray
Name[zh_TW]=亮度 Systray
Name=Brightness Systray
Comment[ca]=Aplicació de sistema de brillantor
Comment[cs]=Aplikace lišty jasu
Comment[de]=Helligkeitsregler in der Systemleiste anzeigen
Comment[el]=Εικονίδιο ρυθμίσεων του συστήματος
Comment[es]=aplicación de bandeja de brillo
Comment[es_ES]=aplicación de bandeja de brillo
Comment[fi]=kirkkaus tehtäväpalkin sovellus
Comment[fr]=application Luminosité dans la barre d’état système / systray
Comment[fr_BE]=application Luminosité dans la barre d’état système / systray
Comment[gl_ES]=aplicación de bandeixa do brillo
Comment[hu]=fényerősség tálcaalkalmazás
Comment[it]=applicazione systray di luminosità
Comment[ja]=明るさ調節を行うトレイアプレット
Comment[nb]=Program i systemkurven for justering av lysstyrke
Comment[nl]=helderheid systray applicatie
Comment[pl]=regulacja jasności w zasobniku systemowym
Comment[pt]=aplicação systray brilho
Comment[pt_BR]=O ‘Brightness Systray’ ou ‘Controle do Brilho na Bandeja do Sistema’ é um programa que permite configurar o controle do brilho da tela por meio da bandeja do sistema
Comment[ro]=aplicare sistem de luminozitate
Comment[ru]=приложение в трее для регулировки яркости
Comment[ru_RU]=приложение в трее для регулировки яркости
Comment[sl]=Aplikacija za osvelitev za sistemsko pasico
Comment[sv]=systembrickeapp för ljusstyrka
Comment[tr]=parlaklık ayarı sistem tepsisi uygulaması
Comment=brightness systray application
Exec=mx-tweak --tray &
Terminal=false
Type=Application
Icon=brightness-systray
Categories=XFCE;Settings;DesktopSettings;MX-Setup;
NotShowIn=KDE;
Keywords[am]=ዴስክቶፕ
Keywords[ca]=Escriptori
Keywords[cs]=Pracovní plocha
Keywords[da]=Skrivebord
Keywords[de]=Arbeitsoberfläche
Keywords[el]=Επιφάνεια εργασίας
Keywords[es]=Escritorio
Keywords[es_ES]=Escritorio
Keywords[fi]=Työpöytä
Keywords[fr]=Environnement de bureau
Keywords[fr_BE]=Environnement de bureau
Keywords[gl_ES]=Escritorio
Keywords[he_IL]=שולחן עבודה
Keywords[hi]=डेस्कटॉप
Keywords[hr]=Radna površina
Keywords[hu]=Asztal
Keywords[it]=Desktop
Keywords[ja]=デスクトップ
Keywords[lt]=Darbalaukis
Keywords[nb]=Skrivebord
Keywords[nl]=Desktop
Keywords[pl]=Pulpit
Keywords[pt]=Ambiente
Keywords[pt_BR]=Área de Trabalho
Keywords[ro]=Birou
Keywords[ru]=Рабочий стол
Keywords[ru_RU]=Рабочий стол
Keywords[sk]=Pracovná plocha
Keywords[sl]=Namizje
Keywords[sq]=Desktop
Keywords[sv]=Skrivbord
Keywords[tr]=Masaüstü
Keywords[uk]=Стільниця
Keywords[zh_CN]=桌面
Keywords[zh_TW]=桌面
Keywords=Desktop
NoDisplay=false

