[Desktop Entry]
Encoding=UTF-8
Name=MX Tweak Brightness
Name[am]=MX ማሻሻያ 
Name[ar]=MX Tweak Brightness
Name[bg]=MX Tweak Brightness
Name[ca]=MX Tweak Brightness
Name[cs]=MX Tweak Brightness
Name[da]=MX Finjustering
Name[de]=MX Tweak Brightness
Name[el]=MX Tweak Brightness
Name[es]=MX Tweak Brightness
Name[et]=MX Tweak Brightness
Name[eu]=MX Tweak Brightness
Name[fa]=MX Tweak Brightness
Name[fi]=MX Hienosäätö
Name[fr]=MX Ajustements
Name[he_IL]=MX Tweak Brightness
Name[hi]=MX Tweak Brightness
Name[hr]=MX Tweak Brightness
Name[hu]=MX finomhangoló
Name[id]=MX Tweak Brightness
Name[is]=MX Tweak Brightness
Name[it]=MX Rifiniture
Name[ja_JP]=MX Tweak Brightness
Name[ja]=MX Tweak Brightness
Name[kk]=MX Tweak Brightness
Name[ko]=MX Tweak Brightness
Name[lt]=MX patobulinimai
Name[mk]=MX Tweak Brightness
Name[mr]=MX Tweak Brightness
Name[nb]=MX Tweak Brightness
Name[nl]=MX Fijninstellingen
Name[pl]=MX Ulepszenia
Name[pt_BR]=MX Personalização
Name[pt]=MX-Ajustes Rápidos
Name[ro]=MX Tweak Brightness
Name[ru]=MX Tweak Brightness
Name[sk]=MX Tweak Brightness
Name[sl]=MX Prilagoditve
Name[sq]=MX Tweak Brightness
Name[sr]=MX Tweak Brightness
Name[sv]=MX Tweak Brightness
Name[tr]=MX Tweak Brightness
Name[uk]=MX Tweak Brightness
Name[zh_CN]=MX Tweak Brightness
Name[zh_TW]=MX 調校
Comment=Display Brightness System Tray Application
Comment[am]=Display Brightness System Tray Application
Comment[ar]=Display Brightness System Tray Application
Comment[bg]=Display Brightness System Tray Application
Comment[ca]=Display Brightness System Tray Application
Comment[cs]=Display Brightness System Tray Application
Comment[da]=Display Brightness System Tray Application
Comment[de]=Display Brightness System Tray Application
Comment[el]=Display Brightness System Tray Application
Comment[es]=Display Brightness System Tray Application
Comment[et]=Display Brightness System Tray Application
Comment[eu]=Display Brightness System Tray Application
Comment[fa]=Display Brightness System Tray Application
Comment[fi]=Display Brightness System Tray Application
Comment[fr]=Display Brightness System Tray Application
Comment[he_IL]=Display Brightness System Tray Application
Comment[hi]=Display Brightness System Tray Application
Comment[hr]=Display Brightness System Tray Application
Comment[hu]=Display Brightness System Tray Application
Comment[id]=Display Brightness System Tray Application
Comment[is]=Display Brightness System Tray Application
Comment[it]=Display Brightness System Tray Application
Comment[ja_JP]=Display Brightness System Tray Application
Comment[ja]=Display Brightness System Tray Application
Comment[kk]=Display Brightness System Tray Application
Comment[ko]=Display Brightness System Tray Application
Comment[lt]=Display Brightness System Tray Application
Comment[mk]=Display Brightness System Tray Application
Comment[mr]=Display Brightness System Tray Application
Comment[nb]=Display Brightness System Tray Application
Comment[nl]=Display Brightness System Tray Application
Comment[pl]=Display Brightness System Tray Application
Comment[pt_BR]=Display Brightness System Tray Application
Comment[pt]=Display Brightness System Tray Application
Comment[ro]=Display Brightness System Tray Application
Comment[ru]=Display Brightness System Tray Application
Comment[sk]=Display Brightness System Tray Application
Comment[sl]=Display Brightness System Tray Application
Comment[sq]=Display Brightness System Tray Application
Comment[sr]=Display Brightness System Tray Application
Comment[sv]=Display Brightness System Tray Application
Comment[tr]=Display Brightness System Tray Application
Comment[uk]=Display Brightness System Tray Application
Comment[zh_CN]=Display Brightness System Tray Application
Comment[zh_TW]=Display Brightness System Tray Application
Exec=mx-tweak --tray
Terminal=false
Type=Application
Icon=mx-tweak
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;MX-Setup;
Keywords=Desktop
NoDisplay=false
OnlyShowIn=XFCE;

