[Desktop Entry]
Encoding=UTF-8
Name[es_ES]=Bandeja de brillo
Name[id]=Kecerahan Systray
Name[it]=Luminosità Systray
Name[lt]=Ryškumas Systray
Name[uk]=Яскравість Systray
Name=Brightness Systray
Comment[es_ES]=aplicación de bandeja de brillo
Comment[it]=applicazione systray di luminosità
Comment=brightness systray application
Exec=mx-tweak --tray &
Terminal=false
Type=Application
Icon=brightness-systray
Categories=XFCE;Settings;DesktopSettings;MX-Setup;
Keywords[es_ES]=Escritorio
Keywords[it]=Desktop
Keywords[lt]=Darbalaukis
Keywords[uk]=Стільниця
Keywords=Desktop
NoDisplay=false

