[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name[es_ES]=Compton
Name[it]=compton
Name=compton
Comment[es_ES]=Inicio de compton
Comment[it]=avvio di compton
Comment=compton startup
Exec=compton-launch.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

