[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name[ca]=compton
Name[cs]=compton
Name[de]=compton
Name[el]=Συνθέτης compton
Name[es]=compton
Name[es_ES]=Compton
Name[fi]=compton
Name[fr]=compton
Name[fr_BE]=compton
Name[gl_ES]=compton
Name[hu]=compton
Name[it]=compton
Name[ja]=コンプトン
Name[nb]=compton
Name[pl]=compton
Name[pt]=compton
Name[pt_BR]=Compositor de Janelas e Efeitos Visuais Compton
Name[ru]=compton
Name[ru_RU]=compton
Name[sl]=compton
Name[sv]=compton
Name[tr]=compton
Name=compton
Comment[ca]=engegada de compton
Comment[cs]=start compton
Comment[de]=Compton Start
Comment[el]=Εκκίνηση compton
Comment[es]=Inicio de compton
Comment[es_ES]=Inicio de compton
Comment[fi]=comptonin käynnistys
Comment[fr]=compton démarrage
Comment[fr_BE]=compton démarrage
Comment[gl_ES]=comenzo de compton
Comment[hu]=compton indítás
Comment[it]=avvio di compton
Comment[ja]=コンプトンを起動
Comment[nb]=compton-oppstart
Comment[pl]=uruchomienie compton
Comment[pt]=arranque do compton
Comment[pt_BR]=Permite personalizar o visual e a aparência das janelas da área de trabalho
Comment[ru]=запуск compton
Comment[ru_RU]=запуск compton
Comment[sl]=compton zagon
Comment[sv]=compton start
Comment[tr]=compton başlangıç
Comment=compton startup
Exec=compton-launch.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

