[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name[el]=στιχειοθετης compton
Name[es]=compton
Name[fr]=compton
Name[BE]=compton
Name[it]=compton
Name[ja]=コンプトン
Name[BR]=Compositor de Janelas e Efeitos Visuais Compton
Name[sv]=compton
Name=compton
Comment[el]=εκκινηση compton
Comment[es]=Inicio de compton
Comment[fr]=compton démarrage
Comment[BE]=compton démarrage
Comment[it]=avvio di compton
Comment[ja]=コンプトンを起動
Comment[BR]=Permite personalizar o visual e a aparência das janelas da área de trabalho
Comment[sv]=compton start
Comment=compton startup
Exec=compton-launch.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

