[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name[es_ES]=restaurar el brillo del programa
Name[it]=ripristina-luminosità-software
Name=restore-software-brightness
Comment[es_ES]=restaurar los valores de brillo de xrandr almacenados en la pestaña de pantalla de mx-tweak
Comment[it]=ripristina i valori di luminosità xrandr memorizzati nella scheda schermo di mx-rifiniture
Comment=restore xrandr brightness values stored mx-tweak display tab
Exec=restore-software-brightness
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

