[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=restore-software-brightness-mx
Comment=restore xrandr brightness values stored mx-tweak display tab
Exec=restore-software-brightness-mx
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

