[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name[el]=ανάκτηση-λογισμικού-φωτεινότητας
Name[es]=restaurar-brillo-software
Name[fr]=restauration-logiciel-luminosité
Name[BE]=restauration-logiciel-luminosité
Name[it]=ripristina-luminosità-software
Name[ja]=restore-software-brightness
Name[BR]=Restaurador do Controle do Brilho da Tela
Name[sv]=återställ-mjukvaru-ljusstyrka
Name=restore-software-brightness
Comment[el]=ανάκτηση των τιμών φωτεινότητηας του xrandr αποθυκευμένες στην καρτέλα εμφάνισης του mx-tweak
Comment[es]=restaurar los valores de brillo xrandr almacenados mx-tweak pestaña de visualización 
Comment[fr]=restaurer les valeurs de luminosité xrandr stockées dans l'onglet d'affichage mx-ajustement
Comment[BE]=restaurer les valeurs de luminosité xrandr stockées dans l'onglet d'affichage mx-ajustement
Comment[it]=ripristina i valori di luminosità xrandr memorizzati nella scheda schermo di mx-rifiniture
Comment[ja]=mx-tweak display タブに保存された xrandr の輝度設定を復元します
Comment[BR]=Restaura os valores padrão do controle do brilho da tela do xrandr que foram armazenados na aba ou guia Tela do MX Tweak
Comment[sv]=återställ xrandr ljusstyrkevärden lagrade i mx-tweak skärmflik
Comment=restore xrandr brightness values stored mx-tweak display tab
Exec=restore-software-brightness
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

