[Desktop Entry]
Encoding=UTF-8
Name=MX Tweak
Name[ca]=MX Ajustos
Name[de]=MX Tweak
Name[el]=MX Tweak
Name[es]=MX Ajustes
Name[fr]=MX Ajustements
Name[it]=MX Rifiniture
Name[nl]=MX Fijninstellingen
Comment=Assorted useful tweaks
Comment[ca]=Diversos ajustos útils
Comment[de]=eine Zusammenstellung nützlicher Empfehlungen
Comment[el]=Διάφορα χρήσιμα τσιμπήματα
Comment[es]=Varios ajustes útiles
Comment[fr]=Divers ajustements bien pratiques
Comment[it]=Utili rifiniture di vario genere
Comment[nl]=Verschillende handige fijninstellingen
Exec=mx-tweak
Terminal=false
Type=Application
Icon=mx-tweak
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;MX-Setup;
Keywords=Desktop
NoDisplay=false
OnlyShowIn=XFCE;

