[Desktop Entry]
Encoding=UTF-8
Name=MX Tweak
Name[am]=MX ማሻሻያ 
Name[ca]=MX Ajustos
Name[cs]=MX Tweak
Name[de]=MX Tweak
Name[el]=MX Tweak
Name[es]=MX Ajustes
Name[fi]=MX Hienosäätö
Name[fr]=MX Ajustements
Name[hi]=MX Tweak
Name[hr]=MX Tweak
Name[hu]=MX finomhangoló
Name[it]=MX Rifiniture
Name[ja]=MX Tweak
Name[kk]=MX Tweak
Name[lt]=MX Tweak
Name[nl]=MX Fijninstellingen
Name[pl]=MX Tweak
Name[pt]=MX-Personalização
Name[pt_BR]=MX Tweak
Name[ro]=MX Tweak
Name[ru]=MX Tweak
Name[sk]=MX Tweak
Name[sv]=MX Tweak
Name[tr]=MX Tweak
Name[uk]=MX Tweak
Name[zh_TW]=MX 調校
Comment=Assorted useful tweaks
Comment[am]=የ ተለየ ጠቃሚ ማሰናጃ
Comment[ca]=Diversos ajustos útils
Comment[cs]=Assorted useful tweaks
Comment[de]=Eine Zusammenstellung nützlicher Empfehlungen
Comment[el]=Διάφορα χρήσιμα τσιμπήματα
Comment[es]=Varios ajustes útiles
Comment[fi]=Assorted useful tweaks
Comment[fr]=Divers ajustements bien pratiques
Comment[hi]=Assorted useful tweaks
Comment[hr]=Assorted useful tweaks
Comment[hu]=Válogatott hasznos trükkök
Comment[it]=Utili rifiniture di vario genere
Comment[ja]=Assorted useful tweaks
Comment[kk]=Assorted useful tweaks
Comment[lt]=Assorted useful tweaks
Comment[nl]=Verschillende handige fijninstellingen
Comment[pl]=Assorted useful tweaks
Comment[pt]=Vários elementos de personalização [mx-tweak]
Comment[pt_BR]=Assorted useful tweaks
Comment[ro]=Assorted useful tweaks
Comment[ru]=Assorted useful tweaks
Comment[sk]=Assorted useful tweaks
Comment[sv]=Blandade användbara justeringar
Comment[tr]=Assorted useful tweaks
Comment[uk]=Assorted useful tweaks
Comment[zh_TW]=多項有用的調校工具
Exec=mx-tweak
Terminal=false
Type=Application
Icon=mx-tweak
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;MX-Setup;
Keywords=Desktop
NoDisplay=false
OnlyShowIn=XFCE;

