[Desktop Entry]
Encoding=UTF-8
Name=MX Default Look
Name[ca]=
Name[cs]=
Name[de]=
Name[el]=
Name[es]=
Name[fr]=
Name[it]=
Name[ja]=
Name[lt]=
Name[nl]=
Name[pt]=
Name[ru]=
Name[sv]=
Comment=Assorted useful tweaks
Comment[ca]=
Comment[cs]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[lt]=
Comment[nl]=
Comment[pt]=
Comment[ru]=
Comment[sv]=
Exec=mx-tweak
Terminal=false
Type=Application
Icon=mx-tweak
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;MX-Setup;
Keywords=Desktop
NoDisplay=false
OnlyShowIn=XFCE;

