[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=compton
Comment=compton startup
Exec=compton-launch.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

