<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="org.mxlinux.pkexec.mx-tweak.root_action">
    <message>MX-Tweak</message>
    <icon_name>mx-tweak</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/mx-tweak/mx-tweak-lib.sh</annotate>
  </action>
  <action id="org.mxlinux.pkexec.mx-tweak.root_kde_setting_edit">
    <message>MX-Tweak</message>
    <icon_name>mx-tweak</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/mx-tweak/mx-tweak-kde-edit.sh</annotate>
  </action>
  <action id="org.mxlinux.pkexec.mx-tweak.check">
    <message>MX-Tweak</message>
    <icon_name>mx-tweak</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/mx-tweak/mx-tweak-check.sh</annotate>
  </action>
  <action id="org.mxlinux.pkexec.mx-tweak.rootcheck">
    <message>MX-Tweak</message>
    <icon_name>mx-tweak</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/mx-tweak/mx-tweak-rootcheck.sh</annotate>
  </action>
</policyconfig>
