<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <action id="org.mxlinux.pkexec.mx-tweak.intel">
    <message>MX-Tweak:  Authentication is required to toggle the intel driver</message>
    <icon_name>mx-tweak</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/mx-tweak/scripts/tweak-intel-driver.sh</annotate>
  </action>
  
   <action id="org.mxlinux.pkexec.mx-tweak.lightdmreset">
    <message>MX-Tweak: Authentication is required to reset the lightdm theme</message>
    <icon_name>mx-tweak</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/mx-tweak/scripts/tweak-lightdm-reset.sh</annotate>
  </action>
  
   <action id="org.mxlinux.pkexec.mx-tweak.hibernate">
    <message>MX-Tweak: Authentication is required to activate hibernate feature</message>
    <icon_name>mx-tweak</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/mx-tweak/scripts/tweak-update-initramfs.sh</annotate>
  </action>
  
   <action id="org.mxlinux.pkexec.mx-tweak.internaldevicemounttoggle">
    <message>Authentication is required to toggle internal device non-root user mount ability</message>
    <icon_name>mx-tweak</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/mx-tweak/scripts/tweak-user-mount-internal-devices-toggle.sh</annotate>
  </action>

</policyconfig>
